div#size_ctn {
  padding: 7px 8px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

div#size_ctn > div {
  display: flex;
  gap: 5px;
  padding: 7px 8px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

div#size_ctn > div.arrange_ctn > button {
  flex: 1;
}

div#size_ctn > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: var(--text-dim);
  white-space: nowrap;
}
